.price-cards {
  display: flex;
}

.price-card {
  position: relative;
  width: 380px;
  height: 770px;
  margin-right: 18px;
  padding: 33px 0 40px 0;
  background-color: $color-card;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);

  &:nth-child(2) {
    overflow: hidden;
  }
  &:last-child {
    margin-right: 0;
  }

  &__label {
    position: absolute;
    top: -30px;
    right: 30px;
    width: 25px;
    height: 147px;
    transform: rotate(-45deg);
    background-color: $color-label-popular;

    &-popular {
      display: block;
      text-align: center;
      transform: rotate(90deg);
      font-weight: 700;
      font-size: 14px;
      line-height: 104px;
    }
  }

  &__title {
    margin: 0;
    font-weight: bold;
    font-size: 35px;
    line-height: 43px;
    text-align: center;
  }
  &__kind {
    display: block;
    margin: auto;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
  &__price {
    margin-top: 33px;
    font-weight: bold;
    font-size: 55px;
    line-height: 105px;
    text-align: center;
    &_green {
      background-color: $color-green;
    }
    &_blue {
      background-color: $color-blue;
    }
    &_orange {
      background-color: $color-orange;
    }
  }
  &__description {
    margin: auto;
    margin-top: 40px;
    width: 327px;
    height: 36px;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
  }
  &__options-list {
    margin: 0;
    padding: 0;
    margin-top: 40px;
    list-style-type: none;

    &-item {
      font-weight: 300;
      font-size: 15px;
      line-height: 50px;

      &:nth-child(odd) {
        background-color: $color-odd-item;
      }
      &-mark {
        margin-left: 22px;
        margin-right: 22px;
      }
    }
  }
  &__order-btn {
    display: block;
    width: 154px;
    height: 40px;
    margin: auto;
    margin-top: 39px;
    border: none;
    border-radius: 20px;
    &_green {
      background-color: $color-green;
    }
    &_blue {
      background-color: $color-blue;
    }
    &_orange {
      background-color: $color-orange;
    }
  }
}
