@import 'variables.scss';
@import 'cards.scss';

* {
  box-sizing: border-box;
}
body {
  margin: auto;
  width: 1440px;
  padding: 65px 132px;
  font-family: 'Montserrat', sans-serif;
  color: $color-white;
  background-color: $color-body;
}
